*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:white;
}
a{
    text-decoration: none;
}
.btn{
    width: 7.3125rem;
    height: 2.5625rem;
    /* background-color: blue; */
    border-radius: 10px;
    background-color: #1a56db;
    border-style: none;
    color:white;
}